//

body {
  background-color: white;
  color: black;


  header {
    border: 1px solid red;
  }

  .single-box {
    // width: 200px;
    border: 1px solid red;

    img {
      width: 200px;
    }
  }
}
