@import "layout";

body {
  background-color: white;
  color: black;


  header {
    border: 1px solid red;
  }

  main {

    .container {
      // width: 1392px;
      width: 1000px;
      margin: auto;
      border: 1px solid blue;

      .quality {
        @include flex-column-between;

        .single-box {
          // width: 200px;
          border: 1px solid red;
          margin: 10px;

          img {
            width: 277px;
            vertical-align: middle;
          }
        }

      }

    }
  }

}
