@mixin flex-column-between {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // justify-content: flex-start;
  // align-content: space-between;
  flex-wrap: wrap;
}

@mixin W-1000-container {
  width: 1000px;
  margin: auto;
  border: 1px solid blue;
}
