body {
  background-color: white;
  color: black;
}
body header {
  border: 1px solid red;
}
body main .container {
  width: 1000px;
  margin: auto;
  border: 1px solid blue;
}
body main .container .quality {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body main .container .quality .single-box {
  border: 1px solid red;
  margin: 10px;
}
body main .container .quality .single-box img {
  width: 277px;
  vertical-align: middle;
}
