body {
  background-color: white;
  color: black;
}
body .container header, body .container footer {
  border: 1px solid red;
}
body .container main .zoomIn-product img {
  width: 100%;
}
body .container main .main-container {
  width: 1000px;
  margin: auto;
  border: 1px solid blue;
}
body .container main .main-container .quality {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid green;
}
body .container main .main-container .quality .single-box {
  border: 1px solid red;
  margin: 5px;
}
body .container main .main-container .quality .single-box img {
  width: 277px;
  vertical-align: middle;
}
